.content {
  padding: 35px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 35px;
  .category__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #11101d;
    padding: 35px;
    border-radius: 16px;
    * {
      color: #fff;
    }
    h2,
    h3 {
      text-align: center;
    }
    .card-grid {
      display: grid;
      gap: 30px;
      .card {
        background: #54535c;
        padding: 35px;
        border-radius: 16px;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1300px) {
  .content {
    padding: 0;
    gap: 0;
    .category__container {
      padding: 15px;
      border-radius: 0;
      h2 {
        font-size: 18px;
      }
      .card-grid {
        grid-template-columns: repeat(1, 1fr);
        .card {
          p {
            font-size: 12px;
          }
          padding: 15px;
          h2 {
            font-size: 18px;
          }
          h4 {
            font-size: 14px;
          }
          ul {
            padding: 0;
            li {
              list-style-type: none;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
